<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="recipeTitle">{{recipes.title}}</h1>
      {{!-- <h1 class="recipeTitle">{{recipe.title}}</h1>
      <p class="recipeDescription">{{recipe.description}}</p> --}}
    </div>
    <div class="col-6">
      <button class="btn btn-sm btn-secondary mt-3 mb-4">Edit</button>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      
      <p class="recipeDescription">
        {{recipes.description}}
      </p>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ingredient</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit of Measure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each recipes.ingredients as |ingredients|}}
            <td>{{term}}</td>
            
            {{#each jsonObj}}
            <td>{{this.0.quantity}}</td>
            <td>{{this.0.unitOfMeasure}}</td>
            {{/each}}
            {{/each}}
            
            
          </tr>
         
          
          
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>