<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="recipeTitle">{{recipe.title}}</h1>
    </div>
    {{!-- <div class="col-sm-2 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
      <button class="btn btn-sm btn-secondary mt-3 mb-4">Edit</button>
    </div> --}}
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 col-xxl-8">
      <p class="recipeDescription">
        {{recipe.description}}
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ingredient</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit of Measure</th>
          </tr>
        </thead>
        <tbody>
         
            {{#each recipe.ingredients as |ingredient| }}
            <tr>
            <td>{{ingredient.term}}</td>
            {{!-- </tr> --}}
            {{!-- {{/each}} --}}

            {{!-- {{#each recipes.recipeJoins}} --}}
              {{!-- <tr> --}}
                <td>{{ingredient.quantity}}</td>
                {{!-- <td>{{unitOfMeasure}}</td> --}}
              {{!-- </tr> --}}
            {{!-- {{/each}} --}}

            {{!-- {{#each recipes.recipeJoins}} --}}
              {{!-- <tr> --}}
                {{!-- <td>{{quantity}}</td> --}}
                <td>{{ingredient.unitOfMeasure}}</td>
            </tr>  
            {{/each}}
            


        </tbody>
    </div>

  </div>
</div>
</div>